# generated: '2026-07-20'
# method: searched
# source: https://developer.quikr.com/index.php/documentation
# note: Minimal spec faithfully capturing the operations, base URL, and custom
#   header auth documented on the Quikr Developer Platform (QDP) documentation
#   page. Request/response bodies are NOT reproduced here because the provider
#   publishes no OpenAPI/Swagger and full schemas were not available. Paths,
#   methods, base URL, auth headers, and rate limits are as documented.
openapi: 3.1.0
info:
  title: Quikr Developer Platform (QDP) API
  version: v1
  description: >-
    Quikr Developer Platform (QDP) exposes India's Quikr online classifieds to
    approved partner apps: discover ads by location or category, surface trending
    and live activity, reply to listings, and post/edit ads. The platform is in
    beta with invitation-only access (request via dvlpr-support@quikr.com).
    Authentication uses custom Quikr HMAC-SHA1 signed headers, not OAuth.
  contact:
    name: Quikr Developer Support
    email: dvlpr-support@quikr.com
    url: https://developer.quikr.com
  x-access: invitation-only-beta
servers:
- url: https://api.quikr.com
  description: Quikr Developer Platform production API host (as documented)
security:
- quikrSignature: []
paths:
  /app/auth/access_token:
    post:
      operationId: createAccessToken
      summary: Generate a daily access token (X-Quikr-Token-Id), valid for one day.
      responses:
        '200':
          description: Access token issued.
  /public/adsByLocation:
    get:
      operationId: getAdsByLocation
      summary: Retrieve ads by geographic coordinates.
      responses:
        '200':
          description: Ads matching the supplied location.
  /public/adsByCategory:
    get:
      operationId: getAdsByCategory
      summary: Fetch ads filtered by category and city.
      responses:
        '200':
          description: Ads matching the supplied category and city.
  /public/trending:
    get:
      operationId: getTrending
      summary: Display trending items in a city.
      responses:
        '200':
          description: Trending items.
  /public/liveOnQuikr:
    get:
      operationId: getLiveOnQuikr
      summary: Retrieve live platform activity metrics.
      responses:
        '200':
          description: Live activity metrics.
  /public/reply:
    post:
      operationId: replyToAd
      summary: Enable buyer-to-seller communication on a listing.
      responses:
        '200':
          description: Reply accepted.
  /public/postAds:
    post:
      operationId: postAd
      summary: Submit a new advertisement/listing.
      responses:
        '200':
          description: Ad posted.
  /public/editAds:
    post:
      operationId: editAd
      summary: Modify an existing advertisement/listing.
      responses:
        '200':
          description: Ad updated.
  /platform/v1/userAds:
    post:
      operationId: getUserAds
      summary: Retrieve the authenticated user's posted ads.
      responses:
        '200':
          description: The user's ads.
components:
  securitySchemes:
    quikrSignature:
      type: apiKey
      in: header
      name: X-Quikr-Signature-v2
      description: >-
        Custom Quikr request signing. Each request carries three headers:
        X-Quikr-App-Id (application identifier), X-Quikr-Token-Id (daily access
        token from /app/auth/access_token), and X-Quikr-Signature-v2 (HMAC-SHA1
        signature). QDP helper libraries for Java and PHP generate these headers.
